{% extends 'base.html.twig' %}

{% block title %}Calendrier
{% endblock %}

{% block body %}
	<h1>Bienvenue sur votre calendrier</h1>

	<!-- Button trigger modal for creating an event -->
	<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createEventModal">
		Create event
	</button>
	<!-- Modal for creating an event -->
	{% include 'event/new.html.twig' %}

	<!-- Modal for editing an event -->
	{% include 'event/edit_modal.html.twig' %}
	
	<div id="calendar"></div>


{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('calendar') }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{# {{ encore_entry_link_tags('calendar') }} #}
{% endblock %}
