{% extends 'base.html.twig' %}

{% block title %}Calendrier{% endblock %}

{% block body %}
	<h1>Bienvenue sur votre calendrier</h1>

	<div id="calendar"></div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('calendar') }}
{% endblock %}