<div class="modal fade" id="createEditEventModal" tabindex="-1" aria-labelledby="createEditEventModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createEditEventModalLabel">Edit Event</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="editEventTitle" class="col-form-label">Title:</label>
            <input type="text" class="form-control" id="editEventTitle">
          </div>
          <div class="mb-3">
            <label for="editEventStart" class="col-form-label">Start Date:</label>
            <input type="datetime-local" class="form-control" id="editEventStart">
          </div>
          <div class="mb-3">
            <label for="editEventEnd" class="col-form-label">End Date:</label>
            <input type="datetime-local" class="form-control" id="editEventEnd">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="saveEditEventBtn">Save changes</button>
      </div>
    </div>
  </div>
</div>
