{% extends 'base.html.twig' %}

{% block title %}Accueil - SymfonyCRM {% endblock %}

{% block body %}

	<h1>Accueil</h1>
	<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At sed tenetur culpa eaque odit tempore quia, soluta labore, odio praesentium, adipisci laborum totam? Fugit nihil cum saepe, est doloremque atque?
	Doloribus officia consectetur esse nobis fuga asperiores consequuntur at praesentium sunt aspernatur iusto, quas fugit quia ipsum quaerat accusamus quisquam eligendi quos ullam temporibus voluptatibus tenetur tempore cumque! Repellat, quia!
	Nesciunt est pariatur aperiam blanditiis aliquid sed voluptas obcaecati? Architecto animi aperiam natus facere pariatur consectetur, dolores laborum impedit similique recusandae ut, saepe et placeat cum. In provident dicta vel?
	Dignissimos sequi itaque nisi repudiandae dolorum unde labore accusantium. Earum enim architecto esse. Optio ex esse soluta, rem amet, velit eius labore quaerat dolore quia quibusdam. Laboriosam quo id repellendus.
	Nemo asperiores excepturi assumenda aliquam tenetur corporis corrupti debitis atque quibusdam voluptatibus aliquid natus aperiam ullam architecto qui, eveniet harum maxime minus. Quia voluptas asperiores fuga dolor praesentium! At, debitis.
	Adipisci sunt quia sit hic cum nemo quas, numquam itaque et labore voluptate accusamus iure velit ullam incidunt sequi, dolorem unde in doloribus aspernatur soluta veritatis? Reiciendis pariatur optio minima?
	Cumque nulla sint iusto perferendis, voluptatibus facere neque officiis et delectus possimus totam minus nam aut, aspernatur placeat itaque, cupiditate soluta optio fuga inventore dolores laborum. Nam tempore perspiciatis architecto.
	Ullam enim est repellat, error consequuntur aspernatur doloribus inventore! Iure earum, ipsam facere quibusdam consectetur nulla sed necessitatibus laudantium sequi itaque dolor eveniet voluptatem dolorem? Odio debitis delectus natus recusandae!
	Magnam facilis debitis maiores consequuntur impedit saepe, consequatur ipsam obcaecati voluptatum blanditiis, beatae tempore totam quia atque architecto rem. Reiciendis voluptate sequi iusto ratione quia quasi aut laudantium sed necessitatibus.
	Voluptas officia laboriosam vitae eaque. Explicabo id quaerat cupiditate iusto. Eius nam temporibus cumque sequi veniam. Iste, alias. Officiis error officia incidunt eius nulla explicabo impedit magnam tenetur quae laborum.</p>
{% endblock %}
