{% extends 'base.html.twig' %}

{% block title %}Accueil - SymfonyCRM / LumenCRM {% endblock %}

{% block body %}

	<h1>Accueil</h1>
	<p>Bienvenue sur LumenCRM, un mini-CRM conçu pour vous aider à gérer efficacement votre entreprise et vos relations clients.

LumenCRM a été développé chez CCI Campus Alsace à Strasbourg, France, pour offrir une solution simple mais puissante aux entreprises de toutes tailles.

Avec LumenCRM, vous pouvez planifier et organiser facilement vos tâches et événements à venir grâce à notre calendrier intégré. Vous pouvez également gérer vos contacts de manière collaborative et suivre vos relations clients avec notre outil de suivi de la relation client.

LumenCRM est un outil en constante évolution pour répondre aux besoins de ses utilisateurs. Nous nous efforçons d'offrir un support technique de qualité, ainsi que des mises à jour régulières pour garantir que notre outil est toujours à la pointe de la technologie.

Inscrivez-vous dès maintenant pour découvrir comment LumenCRM peut aider votre entreprise à être plus productive et efficace.</p>

{% endblock %}
