<footer class="footer py-5">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 mb-4 mx-auto text-center">
				<a href="" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">Accueil</a>
				<a href="" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">À propos</a>
				<a href="" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">Protection des données</a>
				<a href="" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">Mentions légales</a>
				<a href="" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">Contact</a>
			</div>

			<div class="col-lg-8 mx-auto text-center mb-4 mt-2">
				<a class="text-secondary me-xl-4 me-4" href="" target="_blank">
					<span class="text-lg fab fa-dribbble" aria-hidden="true"></span>
				</a>
				
				<a class="text-secondary me-xl-4 me-4" href="" target="_blank">
					<span class="text-lg fab fa-dribbble" aria-hidden="true"></span>
				</a>
				
				<a class="text-secondary me-xl-4 me-4" href="" target="_blank">
					<span class="text-lg fab fa-dribbble" aria-hidden="true"></span>
				</a>
				
				<a class="text-secondary me-xl-4 me-4" href="" target="_blank">
					<span class="text-lg fab fa-github" aria-hidden="true"></span>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-8 mx-auto text-center mt-1">
				<p class="mb-0 text-secondary">Copyright © <script>document.write(new Date().getFullYear())</script> Symfony CRM</p>
			</div>
		</div>
	</div>
</footer>