{% extends 'base.html.twig' %}

{% block title %}Dashboard utilisateur{% endblock %}

{% block body %}
	<main class="main-content position-relative border-radius-lg ps">
		{# Move the navbar here #}
		<div class="container-fluid py-4"></div>
	</main>
{% endblock %}
